* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$primary-1: #202023;
$primary-2: #f3f3f3;
$secondary: #26c7bc;
$accent: #b82676;

body {
  background-color: #1b1f28;
}

.App {
  background-color: #3e5373;
}

#root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  max-width: 800px;
  margin: 0 auto;
}

header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253b6f;
  color: $primary-2;

  h1 {
    padding-bottom: 1rem;
  }
}

button {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.sign-in {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #5258b5;
  border-radius: 15px;
  color: white;
}

.sign-in {
  align-self: center;
}

.inactive {
  background-color: #b5b3d1;
}

.comments {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;
  padding: 2rem;
}

.comment {
  background-color: #99a8bf;
  display: flex;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  border-radius: 14px;
  max-width: 80%;
  gap: 2rem;
}

.comment.sent {
  align-self: end;
}

.comment.received {
  width: fit-content;
}

.comment-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    justify-content: space-between;
  }

  img {
    grid-area: 1 / 2 / 2 / 3;
  }

  p:nth-of-type(2) {
    grid-area: 2 / 1 / 3 / 3;
  }
}

.vote-buttons {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.2rem;
  gap: 0.5rem;
  border-radius: 8px;
  background-color: #d8d9df;

  button {
    display: flex;
    padding: 0.5rem;
    border-radius: 4px;
  }

  button:hover {
    background-color: #b8b6d6;
  }

  path {
    fill: #6561b3;
  }
}

.delete-button {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: #5258b5;
  color: white;
  font-size: 0.9rem;
}

.delete-button:hover {
  background-color: #3d438d;
}

form {
  height: 10vh;
  bottom: 2vh;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  background-color: white;
  padding: 1.5rem;

  input[type="text"] {
    width: 80%;
    height: 100%;
    font-size: 1.5rem;
  }

  button {
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #5258b5;
    font-size: 1.2rem;
    color: white;
  }

  button:disabled,
  button[disabled] {
    background-color: #d8d9df;
    color: #666666;
  }
}

.update-button {
  display: none;
}

.sign-out {
  background-color: rgb(179, 58, 58);
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  height: 2vh;
  position: fixed;
  bottom: 0;
  width: 100%;
}
